APP_NAME="itms"
APP_PORT=8080
APP_SECRET="This secret is used for encryption purposes, set it to unimaginable in production"
APP_ENV="local" # local | prod

ORACLE_USERNAME="root"
ORACLE_PASSWORD=""
ORACLE_HOST="localhost"
ORACLE_PORT="3306"
ORACLE_DBNAME="scanner"

MYSQL_USERNAME="root"
MYSQL_PASSWORD=""
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_DBNAME="scanner"